<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OrgChart Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style type="text/css">
        .divbody {
            width:100%!important;
            height:100%!important;
            background-size:cover;position:fixed;
        }
    </style>

</head>
<body style="padding:0px!important">
    <div class="container body-content divbody">
        <img src="~/Content/login/images/image11.jpg" style="width:100%;height:100%" />
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
