<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OrgChart Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/assets/js/vendor/go.js?cid=@Model.UseDate"></script>
    <script src="~/Scripts/OrgchartScript/OrgchartGOJS.js?cid=@Model.UseDate"></script>
    <script src="~/Scripts/OrgchartScript/PartitionOrgchartGOJS.js?cid=@Model.UseDate"></script>
    <script src="~/Scripts/OrgchartScript/SettingsOrgchartGOJS.js?cid=@Model.UseDate"></script>
    <script src="~/Scripts/multiselectLeftRight/multiselect.min.js"></script>
    <link href="~/Scripts/DataTables/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link href="~/assets/css/font-awesome-4-menus/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/select2/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2/select2.js"></script>

    <style type="text/css">
        @@media (min-width: 768px) {
            .modal-dialog {
                width: 700px !important;
            }
        }

        body {
            font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
        }

        .radio {
            font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            padding: 2px;
            display: inline-block;
        }

        .label {
            font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
            display: inline-block;
            color: #333;
            text-align: left !important;
        }

        .select {
            font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 11px;
        }

        .hidePreview {
            display: none;
        }

        .showPreview {
            display: inline-block;
        }

        .back[class^="fa-"] {
            border: 2px solid;
            border-radius: 50% 50% 50% 50%;
            margin: 0 1px;
            padding: 7px 9px;
            text-shadow: 0 0 0;
            transition: all .25s ease;
        }
    </style>
</head>
<body style="padding-top:0px;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#D3D3B5;margin-bottom:0px;position:relative;">
        <div class="container" style="width:100%!important;">
            <div class="navbar-header" style="width:100%;margin:5px 0px 10px 0px;">
                <div class="navbar-collapse collapse">
                    <div class="nav navbar-nav  navbar-left" style="width:100%">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="showMenu" href="javascript:void(0);" onclick="window.location.href='/'" title="menu"><i class="fa-bars fa icon-x back"></i></a>
                                ReOrgchart Modeling Tool
                            </div>
                            <div class="col-md-8">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-left:30px;">
                                    <span class="icon-bar" style="background-color:black;"></span>
                                    <span class="icon-bar" style="background-color:black;"></span>
                                    <span class="icon-bar" style="background-color:black;"></span>
                                </button>
                                <div class="dropdown" style="float:right;margin-left:10px">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        @User.Identity.Name
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Log Out", "LogOut", "Home")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" style="width:100%!important;clear:both;">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - McBitss</p>
        </footer>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            // Use Select2
            if ("@ViewBag.Title" == "Home Page") {
                var DivRow = "", GroupName = "";
                var TABLES = JSON.parse($("#hdnOrgMenu").val());
                var MENU_TABLE = TABLES.MT;
                if (MENU_TABLE.length >= 1) {
                    for (var Idx = 0; Idx <= MENU_TABLE.length - 1; Idx++) {
                        if (MENU_TABLE[Idx].GroupName != "Views") {
                            if (MENU_TABLE[Idx].GroupName == "Role" ||
                                MENU_TABLE[Idx].Role == "User" ||
                                (MENU_TABLE[Idx].Role != "User" && MENU_TABLE[Idx].Role == $("#hdnOrgRole").val())) {
                                if (GroupName != MENU_TABLE[Idx].GroupName) {
                                    if (GroupName != "") DivRow += "</div>";
                                    DivRow += "<div class=\"col-md-4\" style=\"margin:0px;min-height:180px;\">"
                                    DivRow += "<div style='width:100%;border-bottom:1px solid lightgray;clear:both;'>" + MENU_TABLE[Idx].DisplayGroupName + "</div>";
                                    GroupName = MENU_TABLE[Idx].GroupName;
                                }
                                if (MENU_TABLE[Idx].Link == "Y")
                                    DivRow += "<div style='width:70px;float:left;margin:10px;'><a href='" + MENU_TABLE[Idx].URL + "'>";
                                else if (MENU_TABLE[Idx].JSMethod != "" && MENU_TABLE[Idx].ModelDailog == "")
                                    DivRow += "<div style='width:70px;float:left;margin:10px;'><a href='javascript: void (0);' data-url=\"" + MENU_TABLE[Idx].URL + "\"  onclick=\"return " + MENU_TABLE[Idx].JSMethod + "(this, " + GetParameter(MENU_TABLE[Idx].Parameter) + ");\">";
                                else if (MENU_TABLE[Idx].ModelDailog != "")
                                    DivRow += "<div style='width:70px;float:left;margin:10px;'><a href='javascript: void (0);' data-url=\"" + MENU_TABLE[Idx].URL + "\" data-toggle='modal' data-target='#" + MENU_TABLE[Idx].ModelDailog + "' onclick=\"return " + MENU_TABLE[Idx].JSMethod + "(this, " + GetParameter(MENU_TABLE[Idx].Parameter) + ");\">";
                                DivRow += "<div style='width:100%'><img src=\'/content/images/" + MENU_TABLE[Idx].ImageURL + "\' alt=\'" + MENU_TABLE[Idx].ImageURL + "\' style=\'width:100%;height100px;\'></div>";
                                DivRow += "<center><div style='width:100%'>" + MENU_TABLE[Idx].DisplayName + "</div></center>";
                                DivRow += "</a></div>";
                            }
                        }
                    }
                    DivRow += "</div>";
                }

                var MENU_TABLE = TABLES.VT;
                DivRow += "<div class=\"col-md-4\" style=\"margin:0px;min-height:180px;\">"
                DivRow += "<div style='width:100%;border-bottom:1px solid lightgray;clear:both;'>Views</div>";
                for (var Idx = 0; Idx <= MENU_TABLE.length - 1; Idx++) {
                    DivRow += "<div style='width:70px;float:left;margin:10px;'><a href='javascript: void (0);' data-url=\"" + MENU_TABLE[Idx].URL + "\" onclick=\"return " + MENU_TABLE[Idx].JSMethod + "(this, " + GetParameter(MENU_TABLE[Idx].Parameter) + ");\">";
                    DivRow += "<div style='width:100%'><img src=\'/content/images/" + MENU_TABLE[Idx].ImageURL + "\' alt=\'" + MENU_TABLE[Idx].ImageURL + "\' style=\'width:100%;height100px;\'></div>";
                    DivRow += "<center><div style='width:100%'>" + MENU_TABLE[Idx].DisplayName + "</div></center>";
                    DivRow += "</a></div>";
                }
                DivRow += "</div>";
                $("#myMenuContainer").html(DivRow);
            }


            // Setting current position of Org Chart
            $("#spnOrgRole").html($("#hdnOrgRole").val());

            var sValue = $("#hdnOrgType").val();
            if (sValue == "OV") $("#spnOrgType").html("Operational View");
            else if (sValue == "LV") $("#spnOrgType").html("Legal View");

            sValue = $("#hdnOrgLevel").val();
            if (sValue == "One") $("#spnOrgLevel").html("Level One");
            else if (sValue == "Two") $("#spnOrgLevel").html("Level Two");

            sValue = $("#hdnOrgView").val();
            if (sValue == "Sample") $("#spnOrgView").html("Sample View");
            else if (sValue == "Normal") $("#spnOrgView").html("Normal View");
            else if (sValue == "Cost") $("#spnOrgView").html("Position Cost View");

            if ("@ViewBag.Title" == "UploadVersion" || "@ViewBag.Title" == "UploadData") {
                SelectedInitiativeDDL($("#hdnOrgDDL").val(), "SelectInitiative");
            }
        });

        function GetParameter(Parameter) {
            var StringConcat = "";

            if (Parameter.trim() != "") {
                var ArrayParam = Parameter.split(';');
                if (ArrayParam.length >= 1) {
                    for (var Idx = 0; Idx <= ArrayParam.length - 1; Idx++) {
                        var MenuItem = ArrayParam[Idx].split(':');
                        if (MenuItem[0] == "S") StringConcat += "," + "\'" + MenuItem[1] + "\'"
                    }

                    return StringConcat.substring(1);
                }
            }

            return StringConcat;
        }


        function UploadPopulation() {
            window.location.href = '/Version/UploadVersion';
        }

        function SetSelectedValues(Obj, sType) {
            var JsonData = {
                KeyDate: $("#hdnOrgKeyDate").val(),
                UsedView: $("#hdnOrgView").val(),
                Country: $("#hdnOrgCountry").val(),
                ShowLevel: $("#hdnOrgShowLevel").val(),
                Levels: $("#hdnOrgLevel").val(),
                Oper: $("#hdnOrgType").val(),
                Version: $("#hdnOrgVersion").val(),
                Role: $("#hdnOrgRole").val(),
                Type: sType
            };
            $.ajax({
                type: "POST",
                url: "/home/SetSelectedValues",
                data: JsonData,
                async: false,
                dateType: "json",
                success: function (jsonStr) {
                    window.location.href = $(Obj).attr("data-url");
                }
            });
        }

        function CreateOrgChart(Obj, sType, sValue)
        {
            switch (sType) {
                case 'Role':
                    $("#hdnOrgRole").val(sValue);
                    $("#spnOrgRole").html(sValue);

                    SetSelectedValues(Obj, sType);

                    break;
                case 'Type':
                    $("#hdnOrgType").val(sValue);
                    if (sValue == "OV") $("#spnOrgType").html("Operational View");
                    else if (sValue == "LV") $("#spnOrgType").html("Legal View");

                    SetSelectedValues(Obj, sType);

                    break;
                case 'Level':
                    $("#hdnOrgLevel").val(sValue);
                    if (sValue == "One") $("#spnOrgLevel").html("Level One");
                    else if (sValue == "Two") $("#spnOrgLevel").html("Level Two");
                    else if (sValue == "All") $("#spnOrgLevel").html("All Levels");

                    SetSelectedValues(Obj, sType);

                    break;
                case 'View':
                    $("#hdnOrgView").val(sValue);
                    if (sValue == "Sample") $("#spnOrgView").html("Sample View");
                    else if (sValue == "Normal") $("#spnOrgView").html("Normal View");
                    else if (sValue == "Cost") $("#spnOrgView").html("Position Cost View");

                    SetSelectedValues(Obj, sType);

                    break;
            }

            return true;
        }

    </script>
</body>
</html>
