@{ Layout = "~/Views/Shared/_LoginLayout.cshtml"; }
@model REORGCHART.Models.LoginModel
<style>
    .center {
        position: relative;
        /*margin: 0 auto;*/
        /*top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        width: 300px;
        /*max-height: max-content;*/
        /*background-color: #ffffff;*/
        background: url('~/Content/Login/Images/login-bg.png') repeat;
        border-radius: 3px;
        border: 3px solid lightblue;
        padding: 0px 15px;
        background-color: white;
    }

    .landing-page-wrapper {
        width: 100%;
        margin: 0 auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        padding-top: 70px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="landing-page-wrapper">
        <div class="center">
            <h3 style="font-family:Roboto;text-align:center">Log In</h3>
            <p style="color:red">@ViewBag.ErrorMessage</p>
            <div class="form-group">
                <input class="form-control" id="UserName" name="UserName" placeholder="User Name" type="text" value="@Model.UserName" />
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @*<select class="form-control" id="CompanyName" name="CompanyName" placeholder="Company Name" value="@Model.CompanyName"></select>*@
                @Html.DropDownList("CompanyName", ViewData["CompanyName"] as List<SelectListItem>, new { @class = "form-control CompanyName" })
                @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input class="form-control" id="Password" name="Password" placeholder="Password" type="password" value="@Model.Password" />
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input id="RememberMe" type="checkbox" name="RememberMe" value="true" style="margin-top:3px;">
                <label style="font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;color: #666;">&nbsp;Remember me?</label>
            </div>
            <div class="form-group">
                <input id="cbxDataPrivacy" type="checkbox" name="cbxDataPrivacy" value="on">
                <label style="font: 14px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;color: #666;">&nbsp;I agree to the <a href="/DataPrivacyPolicy/DataPrivacy" onclick="Datapolicy()" target="_blank" style="text-decoration: underline;"> Data Privacy Policy</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control form-submit btn btn-info">Log In</button>
            </div>
            <div style="width:100%!important;text-align:center;margin-bottom:2px;">
                Don't have an account? @Html.ActionLink("Sign Up", "Register")
            </div>
            <div style="width:100%!important;text-align:center;margin-bottom:20px;">
                Forgot password? @Html.ActionLink("Forgot Password", "ForgotPassword")
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>
